@model Lab4.Models.Country

<table border="1" cellpadding="11">
    <tr>
        <td>@Model.Code</td>
        <td>@Model.Name</td>
        <td>@Model.Region</td>
        <td><img src="@Model.NationalFlag" /></td>
    </tr>
</table>