
@{
    ViewData["Title"] = "Detail";
}

@model Lab4.Models.City

<table border="1" cellpadding="11">
    <tr>
        <td>@Model.Name</td>
        <td>@Model.CountryCode</td>
        <td>@Model.District</td>
        <td>@Model.Population</td>
    </tr>
</table>

